n8n/whatsapp-agent-workflow.json
{
  "name": "WhatsApp Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "efe41ff7-6ec1-4383-9a05-1b39a35203b0",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        280,
        300
      ],
      "webhookId": "44e6076b-c07b-4584-8fab-37222739db70"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "8c7e156f-b6fd-4a9f-8afb-f070162c84f0",
              "leftValue": "={{ $json.headers['x-n8n-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "469636ad-8d16-4968-b8d9-568237fc8e2f",
      "name": "Secret valido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $input.first().json.body || {};\nreturn [{ json: {\n  phone_number_id: body.phone_number_id,\n  from: body.from,\n  contact_name: body.contact_name || null,\n  message_id: body.message_id,\n  type: body.type || 'text',\n  text: body.text || '',\n  media_id: body.media_id || null,\n  media_mime: body.media_mime || null,\n  media_filename: body.media_filename || null,\n  is_media: ['image','document','audio'].includes(body.type) && !!body.media_id,\n  timestamp: body.timestamp || new Date().toISOString(),\n} }];"
      },
      "id": "3f073986-22cf-48c1-bbe3-1caa701780c2",
      "name": "ctx",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/tenants?whatsapp_phone_id=eq.{{ $('ctx').item.json.phone_number_id }}&select=id",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "e4f36ed7-6e6c-4683-bde1-ddc7af15d3ae",
      "name": "Resolve tenant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nlet tenant = null;\nif (items.length === 1 && Array.isArray(items[0])) tenant = items[0][0] || null;\nelse if (items.length >= 1 && items[0] && items[0].id) tenant = items[0];\nelse if (items.length === 1 && items[0] && Array.isArray(items[0].body)) tenant = items[0].body[0] || null;\nconst ctx = $('ctx').first().json;\nreturn [{ json: { ...ctx, tenant_id: tenant ? tenant.id : null, has_tenant: !!tenant } }];"
      },
      "id": "7f1bb2d9-07d8-4c9e-801a-26ec26b1f47e",
      "name": "prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "be57d586-f33b-42a3-b81b-d271522453c9",
              "leftValue": "={{ $json.has_tenant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "785455ec-4788-4ffe-a21f-5411fa8aadba",
      "name": "Tenant existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?on_conflict=tenant_id,phone",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('prep').item.json.tenant_id, phone: $('prep').item.json.from, name: $('prep').item.json.contact_name, last_message_at: $('prep').item.json.timestamp, last_message_preview: $('prep').item.json.text }) }}"
      },
      "id": "112d920b-7149-48df-9efb-2b206750559b",
      "name": "Upsert contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json);\nlet row = null;\nif (items.length === 1 && Array.isArray(items[0])) row = items[0][0] || null;\nelse if (items[0] && items[0].id) row = items[0];\nelse if (items[0] && Array.isArray(items[0].body)) row = items[0].body[0] || null;\nconst p = $('prep').first().json;\n// Ruta destino en Storage para la media entrante (bucket chat-attachments).\nconst EXT = { 'image/jpeg':'jpg','image/png':'png','image/webp':'webp','application/pdf':'pdf','audio/ogg':'ogg','audio/mpeg':'mp3','audio/mp4':'m4a','audio/amr':'amr' };\nconst baseMime = (p.media_mime || '').split(';')[0].trim();\nconst ext = EXT[baseMime] || 'bin';\nconst rid = Date.now().toString(36) + '-' + Math.random().toString(36).slice(2, 10);\nconst media_path = (p.is_media && row) ? (p.tenant_id + '/' + rid + '.' + ext) : null;\nreturn [{ json: { ...p, contact_id: row ? row.id : null, flow_state: row ? row.flow_state : {}, handoff: row ? (row.handoff === true) : false, media_path } }];"
      },
      "id": "0f00f265-819c-4f74-a93b-387e1f7a2845",
      "name": "contact_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?on_conflict=whatsapp_message_id",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_id: $('contact_id').item.json.contact_id, whatsapp_message_id: $('contact_id').item.json.message_id, direction: 'inbound', content: $('contact_id').item.json.text, message_type: $('contact_id').item.json.type, sent_at: $('contact_id').item.json.timestamp }) }}"
      },
      "id": "984176ac-89c2-48cf-b2ef-ccaf79a90e04",
      "name": "Insert inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2520,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d0f87275-d649-4e42-bed1-5cc4d12b0352",
              "leftValue": "={{ $('contact_id').item.json.is_media }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "228c26a2-a0b5-4959-ad0f-155bf20393ce",
      "name": "Es media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $('contact_id').item.json.media_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "027892fe-cf33-4317-b3bb-8612f906c1ab",
      "name": "Get media url",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3080,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "239b2778-00a4-4cc4-9f24-c98b569ed165",
      "name": "Download media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/storage/v1/object/chat-attachments/{{ $('contact_id').item.json.media_path }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $('contact_id').item.json.media_mime }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data"
      },
      "id": "3f48ff06-e0ca-4abf-8148-906a15770d4b",
      "name": "Upload media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?on_conflict=whatsapp_message_id",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_id: $('contact_id').item.json.contact_id, whatsapp_message_id: $('contact_id').item.json.message_id, direction: 'inbound', content: $('contact_id').item.json.text, message_type: $('contact_id').item.json.type, media_url: $('contact_id').item.json.media_path, media_mime: $('contact_id').item.json.media_mime, media_filename: $('contact_id').item.json.media_filename, sent_at: $('contact_id').item.json.timestamp }) }}"
      },
      "id": "197e1eeb-270b-4f4c-bfd2-a652127c300d",
      "name": "Insert inbound (media)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/bot_configs?tenant_id=eq.{{ $('contact_id').item.json.tenant_id }}&select=enabled,system_prompt,reply_delay_seconds,flow_type,flow_definition,alert_email,alert_delay_minutes",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "9fc938c1-e63b-4a21-98e4-6f7ac40c2eb7",
      "name": "Get bot_config",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?contact_id=eq.{{ $('contact_id').item.json.contact_id }}&order=sent_at.desc&limit=10&select=direction,content,sent_at",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "9cff5397-5e39-4417-bd1e-caa8fe69db21",
      "name": "Get history",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function unwrap(json){ if(Array.isArray(json)) return json; if(json && Array.isArray(json.body)) return json.body; if(json && json.id!==undefined) return [json]; return []; }\nconst cfgArr = unwrap($('Get bot_config').first().json);\nconst cfg = cfgArr[0] || { enabled: true, system_prompt: '', reply_delay_seconds: 2 };\nconst hist = unwrap($('Get history').first().json).slice().reverse();\nconst c = $('contact_id').first().json;\n\n// Ventana de 24h: solo respuesta libre si el mensaje entrante es < 24h.\nconst ageMs = Date.now() - new Date(c.timestamp).getTime();\nconst within24h = ageMs < 24*60*60*1000;\nconst can_reply = !!cfg.enabled && within24h;\n\n// Construye el array de messages para Claude (alterna user/assistant).\nconst messages = [];\nfor (const m of hist) {\n  const role = m.direction === 'outbound' ? 'assistant' : 'user';\n  if (m.content) messages.push({ role, content: m.content });\n}\n// Asegura que el ultimo turno sea del user (mensaje actual).\nif (messages.length === 0 || messages[messages.length-1].role !== 'user') {\n  messages.push({ role: 'user', content: c.text });\n}\n\nreturn [{ json: {\n  ...c,\n  enabled: !!cfg.enabled,\n  system_prompt: cfg.system_prompt || 'Sos un asistente de atencion al cliente. Responde breve y amable en espanol.',\n  reply_delay_seconds: cfg.reply_delay_seconds ?? 2,\n  within24h, can_reply, messages,\n} }];"
      },
      "id": "8c662f34-fff2-4d7f-968f-80bd38624e5a",
      "name": "prep AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 80, system: [{ type: 'text', text: 'Extrae en UNA frase corta (max 12 palabras) que necesita o pide el contacto. Responde solo la frase, sin comillas.', cache_control: { type: 'ephemeral' } }], messages: [{ role: 'user', content: $('prep AI').item.json.text }] }) }}"
      },
      "id": "cac954b6-591c-4fe6-9897-9bbff946f527",
      "name": "Claude extract needs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5040,
        140
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?id=eq.{{ $('contact_id').item.json.contact_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ needs: (($json.content && $json.content[0] && $json.content[0].text) || '').trim(), status: 'active' }) }}"
      },
      "id": "01715842-8477-4c85-b037-90e53293d583",
      "name": "Update needs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5320,
        140
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a3ab6e54-0953-4890-807d-7132cb164b0c",
              "leftValue": "={{ $('prep AI').item.json.can_reply }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "cdb3203a-75cb-4ba4-8bff-95aa7861697e",
      "name": "Responder?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5040,
        460
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('prep AI').item.json.reply_delay_seconds }}",
        "unit": "seconds"
      },
      "id": "c4b03189-7d72-4642-81ac-462f88d7b793",
      "name": "Wait delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5320,
        460
      ],
      "webhookId": "3a6ee75c-83a8-4912-ab7d-f269de753ced"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 500, system: [{ type: 'text', text: $('prep AI').item.json.system_prompt, cache_control: { type: 'ephemeral' } }], messages: $('prep AI').item.json.messages }) }}"
      },
      "id": "56d4efe0-08dc-47f0-82c7-60e3aae9948d",
      "name": "Claude reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5600,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('prep AI').item.json.phone_number_id }}/messages",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 100
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('prep AI').item.json.from, type: 'text', text: { body: (($json.content && $json.content[0] && $json.content[0].text) || '').trim() } }) }}"
      },
      "id": "f6059998-41b4-4d10-915b-cfd21c24b528",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5880,
        460
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('prep AI').item.json.tenant_id, contact_id: $('prep AI').item.json.contact_id, whatsapp_message_id: (($json.messages && $json.messages[0] && $json.messages[0].id) || null), direction: 'outbound', content: (($('Claude reply').item.json.content && $('Claude reply').item.json.content[0] && $('Claude reply').item.json.content[0].text) || '').trim(), message_type: 'text', sent_at: new Date().toISOString() }) }}"
      },
      "id": "d11cb6bd-2092-4926-8cd0-a987637263ce",
      "name": "Insert outbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/failed_messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('prep AI').item.json.tenant_id, contact_phone: $('prep AI').item.json.from, content: $('prep AI').item.json.text, error: $('prep AI').item.json.enabled ? 'fuera de ventana 24h' : 'bot deshabilitado' }) }}"
      },
      "id": "16ffd1b4-b118-4bee-a6a3-1d3e91ba68c3",
      "name": "Log failed (ventana)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5320,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/failed_messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('prep AI').item.json.tenant_id, contact_phone: $('prep AI').item.json.from, content: 'respuesta IA', error: 'fallo el envio a Meta' }) }}"
      },
      "id": "2d3b4892-2b8e-4773-9ebe-2cb99cc17c98",
      "name": "Log failed (send)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6160,
        620
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function unwrap(json){ if(Array.isArray(json)) return json; if(json && Array.isArray(json.body)) return json.body; if(json && typeof json === 'object') return [json]; return []; }\nconst cfgArr = unwrap($('Get bot_config').first().json);\nconst cfg = cfgArr[0] || {};\nconst c = $('contact_id').first().json;\nreturn [{ json: { ...c,\n  flow_type: cfg.flow_type || 'ai',\n  flow_definition: cfg.flow_definition || null,\n  enabled: cfg.enabled !== false,\n  system_prompt: cfg.system_prompt || '',\n  reply_delay_seconds: cfg.reply_delay_seconds ?? 2,\n  alert_email: cfg.alert_email || '',\n  alert_delay_minutes: cfg.alert_delay_minutes ?? 5,\n} }];"
      },
      "id": "90d1eaef-8b81-4cbd-b9dc-86db3cf04a5b",
      "name": "bot cfg",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2940,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "9ee30d0a-ac19-45dd-b7db-9dae319d76ff",
              "leftValue": "={{ $json.flow_type }}",
              "rightValue": "menu",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "a3e739a5-7e95-47f6-82f4-6ea2053e849a",
      "name": "Modo menu?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3220,
        760
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const j = $('bot cfg').first().json;\nconst flow = j.flow_definition || { start: 'root', nodes: {}, invalid_message: 'Opción no válida.' };\nconst state = (j.flow_state && typeof j.flow_state === 'object') ? j.flow_state : {};\nconst text = (j.text || '').toString();\nconst reply_delay_seconds = j.reply_delay_seconds ?? 1;\n\n// Fecha local AR para el mute \"resto del día\" (auto-resetea al día siguiente).\nconst todayAR = new Intl.DateTimeFormat('en-CA', { timeZone: 'America/Argentina/Buenos_Aires' }).format(new Date());\n\n// Handoff es COLUMNA dedicada (j.handoff), no flow_state -> n8n nunca la pisa en false.\n// Si un humano tomó el chat, el bot queda en silencio hasta que se libere desde el CRM.\nif (j.handoff === true) {\n  return [{ json: { should_send: false, reply: '', reply_delay_seconds, handoff_triggered: false, summary_triggered: false, new_flow_state: state, patch_body: { flow_state: state } } }];\n}\n\n// Muteado hoy -> silencio total, sin tocar el estado.\nif (state.muted_date && state.muted_date === todayAR) {\n  return [{ json: { should_send: false, reply: '', reply_delay_seconds, handoff_triggered: false, summary_triggered: false, new_flow_state: state, patch_body: { flow_state: state } } }];\n}\n\n// Esperando la consulta libre (tras elegir \"hablar con un representante\"):\n// el mensaje actual ES la consulta -> deriva a humano y dispara el resumen.\nif (state.awaiting_query === true) {\n  const reply = '¡Gracias! Registramos tu consulta. En breve te atenderá un representante.';\n  const new_flow_state = { ...state, awaiting_query: false, current_menu: null, consulta: text };\n  return [{ json: { should_send: true, reply, reply_delay_seconds, handoff_triggered: true, summary_triggered: true, path: state.path || [], consulta: text, new_flow_state, patch_body: { flow_state: new_flow_state, handoff: true } } }];\n}\n\nconst nodes = flow.nodes || {};\nconst m = text.match(/\\d+/);\nconst num = m ? m[0] : null;\nlet current = state.current_menu || null;\nlet reply = '';\nlet next_menu = current;\nlet muted_date = null;\nlet handoff_triggered = false;\nlet summary_triggered = false;\nlet awaiting_query = false;\n// Recorrido del menú en esta sesión (títulos de los nodos visitados).\nlet path = Array.isArray(state.path) ? state.path.slice() : [];\n\nif (!current) {\n  // Inicio de sesión: bienvenida (ignora lo tipeado). Reinicia el recorrido.\n  const startNode = nodes[flow.start] || { message: '' };\n  reply = startNode.message || '';\n  next_menu = flow.start;\n  path = [];\n} else {\n  const curNode = nodes[current] || { options: {} };\n  const opts = curNode.options || {};\n  const target = (num !== null && Object.prototype.hasOwnProperty.call(opts, num)) ? opts[num] : null;\n  if (!target) {\n    // Opción inválida: queda en el mismo menú.\n    reply = flow.invalid_message || 'Opción no válida.';\n    next_menu = current;\n  } else if (target === flow.start) {\n    // \"Volver a empezar\": reinicia el recorrido.\n    reply = (nodes[target] && nodes[target].message) || '';\n    next_menu = flow.start;\n    path = [];\n  } else {\n    const tNode = nodes[target] || { message: '' };\n    reply = tNode.message || '';\n    path.push(tNode.title || target);   // registra el paso elegido\n    if (tNode.await_query) { awaiting_query = true; next_menu = null; }                  // pide la consulta libre (handoff al próximo mensaje)\n    else if (tNode.handoff) { handoff_triggered = true; summary_triggered = true; next_menu = null; }  // derivar a humano (pausa el bot)\n    else if (tNode.mute) { muted_date = todayAR; next_menu = null; }\n    else if (tNode.options) { next_menu = target; }            // submenú\n    else { next_menu = null; summary_triggered = true; }       // terminal de mensaje predefinido -> resume igual\n  }\n}\n\nconst new_flow_state = { current_menu: next_menu, muted_date, awaiting_query, path };\n// patch_body: escribe flow_state siempre; setea la columna handoff=true SOLO al dispararlo.\nconst patch_body = handoff_triggered ? { flow_state: new_flow_state, handoff: true } : { flow_state: new_flow_state };\nreturn [{ json: { should_send: (reply || '').length > 0, reply, reply_delay_seconds, handoff_triggered, summary_triggered, path, new_flow_state, patch_body } }];"
      },
      "id": "2e876adf-6394-4ad7-9d6e-be1e5c7e96bf",
      "name": "Menu engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        760
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?id=eq.{{ $('contact_id').item.json.contact_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Menu engine').item.json.patch_body) }}"
      },
      "id": "55f49ed8-627a-4012-83e2-733ab40ac57c",
      "name": "Patch flow_state",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        760
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3fc7c8e2-fa3d-4621-9b42-e17515139831",
              "leftValue": "={{ $('Menu engine').item.json.should_send }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "3789e9e8-4439-44bc-b023-171f027a575e",
      "name": "Enviar? (menu)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4060,
        760
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Menu engine').item.json.reply_delay_seconds }}",
        "unit": "seconds"
      },
      "id": "b3bcf663-78a0-4de6-9f43-4a4ea3b4df8f",
      "name": "Wait delay (menu)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4340,
        760
      ],
      "webhookId": "181d50a8-b854-42d1-b7f5-a7d259601c71"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('contact_id').item.json.phone_number_id }}/messages",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 100
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('contact_id').item.json.from, type: 'text', text: { body: $('Menu engine').item.json.reply } }) }}"
      },
      "id": "462e505e-3a96-4c0a-aa41-27aa12641879",
      "name": "Send WhatsApp (menu)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        760
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_id: $('contact_id').item.json.contact_id, whatsapp_message_id: (($json.messages && $json.messages[0] && $json.messages[0].id) || null), direction: 'outbound', content: $('Menu engine').item.json.reply, message_type: 'text', sent_at: new Date().toISOString() }) }}"
      },
      "id": "8642e896-edc0-4915-bf66-688261cc7597",
      "name": "Insert outbound (menu)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        760
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/failed_messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_phone: $('contact_id').item.json.from, content: $('Menu engine').item.json.reply, error: 'fallo el envio a Meta (menu)' }) }}"
      },
      "id": "90b90036-9d05-429a-b9df-568156a51985",
      "name": "Log failed (send menu)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5180,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d57320b2-31de-46dc-ad44-7a7020544600",
              "leftValue": "={{ $('Menu engine').item.json.summary_triggered }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "4f248320-41c5-41ac-b079-6f2494d1a575",
      "name": "Resumir?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3780,
        1000
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?contact_id=eq.{{ $('contact_id').item.json.contact_id }}&order=sent_at.desc&limit=15&select=direction,content,sent_at",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "6f39c889-6be6-4d77-be41-716b5583d98a",
      "name": "Get history (menu)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4060,
        1000
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function unwrap(json){ if(Array.isArray(json)) return json; if(json && Array.isArray(json.body)) return json.body; if(json && typeof json === 'object') return [json]; return []; }\nconst me = $('Menu engine').first().json;\nconst path = Array.isArray(me.path) ? me.path : [];\nconst pathStr = path.join(' → ');\nconst consulta = (me.consulta || '').toString().trim();\n// Comentarios en texto libre del contacto (no simples números de opción).\nconst hist = unwrap($('Get history (menu)').first().json).slice().reverse();\nconst comments = hist.filter(m => m.direction === 'inbound' && m.content && !/^\\s*\\d+\\s*$/.test(m.content)).map(m => m.content);\nconst extra = comments.length ? ('\\nMensajes en texto del contacto: ' + comments.join(' | ')) : '';\nlet convo = 'Pasos del menú que recorrió: ' + (pathStr || '(ninguno)');\nif (consulta) convo += '\\nConsulta que escribió: ' + consulta;\nconvo += extra;\nreturn [{ json: { convo, pathStr, consulta } }];"
      },
      "id": "b5f97334-c30e-46ef-a4aa-12cb7628b1cb",
      "name": "prep summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4340,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 150, system: [{ type: 'text', text: 'Sos asistente de una administración de consorcios. El contacto usó un menú de WhatsApp. A partir de los pasos del menú y, si la hay, la consulta que escribió, devolvé SOLO un JSON válido (sin texto extra ni markdown) con la forma {\\\"urgente\\\": true|false, \\\"resumen\\\": \\\"...\\\"}. El campo resumen: 1 o 2 frases en español de qué consultó o necesita, para que un agente lo retome; priorizá la consulta escrita y mencioná los pasos; sé específico; NO escribas solo que espera ser atendido. El campo urgente: true SOLO si refleja una urgencia real (fuga de gas, inundación, incendio, ascensor con personas atrapadas, falta de un servicio esencial, riesgo a personas o bienes); si no, false.', cache_control: { type: 'ephemeral' } }], messages: [{ role: 'user', content: $('prep summary').item.json.convo }] }) }}"
      },
      "id": "78b94475-adf9-4ec4-bb36-ed146dcf55a3",
      "name": "Claude summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        1000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const c = $('Claude summary').first().json;\nconst raw = ((c.content && c.content[0] && c.content[0].text) || '').trim();\nlet urgente = false;\nlet resumen = '';\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  const obj = JSON.parse(m ? m[0] : raw);\n  if (typeof obj.urgente === 'boolean') urgente = obj.urgente;\n  if (obj.resumen) resumen = String(obj.resumen).trim();\n} catch (e) {\n  resumen = raw; // si no vino JSON, usar el texto crudo\n}\nif (!resumen) {\n  const ps = $('prep summary').first().json;\n  resumen = (ps.consulta ? ('Consulta: ' + ps.consulta + '. ') : '') + 'Pasos: ' + (ps.pathStr || 'sin registrar');\n}\nreturn [{ json: { resumen, urgente } }];"
      },
      "id": "51def622-8fa0-477b-b98c-58a7afff0baa",
      "name": "parse result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        1000
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?id=eq.{{ $('contact_id').item.json.contact_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ needs: $('parse result').item.json.resumen, status: 'active' }) }}"
      },
      "id": "7c22110f-2187-45f6-9beb-648e0c6c906a",
      "name": "Update needs (menu)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        1000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3c48d750-9215-46ef-b600-a236f21e677c",
              "leftValue": "={{ $('Menu engine').item.json.handoff_triggered }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "439e8941-aa50-4f95-87a5-203063d5e211",
      "name": "Handoff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5180,
        1000
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/labels?tenant_id=eq.{{ $('contact_id').item.json.tenant_id }}&name=eq.Necesita%20agente&select=id&limit=1",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "5a336928-cf5b-4a5e-b280-3c84abe1de82",
      "name": "Get attention label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        1000
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function unwrap(json){ if(Array.isArray(json)) return json; if(json && Array.isArray(json.body)) return json.body; if(json && typeof json === 'object') return [json]; return []; }\nconst rows = unwrap($('Get attention label').first().json);\nconst label_id = rows[0] && rows[0].id ? rows[0].id : null;\nreturn [{ json: { label_id, contact_id: $('contact_id').first().json.contact_id } }];"
      },
      "id": "5b113a22-f30f-409c-8a24-8cd6bd9d1c1b",
      "name": "attn label id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5740,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contact_labels?on_conflict=contact_id,label_id",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_id: $('attn label id').item.json.contact_id, label_id: $('attn label id').item.json.label_id }) }}"
      },
      "id": "a3dce51e-ca21-48e8-8813-c8c592f0c4c5",
      "name": "Link attention label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6020,
        1000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2fe31760-1383-444a-a41c-fe1e443c8c4b",
              "leftValue": "={{ (($('bot cfg').first().json.alert_email) || '').length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "d97035db-dd3c-4090-a992-4725fc0980b8",
      "name": "Alerta configurada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5460,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $('bot cfg').first().json;\nconst c = $('contact_id').first().json;\nreturn [{ json: {\n  contact_id: c.contact_id,\n  requested_at: c.timestamp || new Date().toISOString(),\n  delay: cfg.alert_delay_minutes || 5,\n} }];"
      },
      "id": "6e27bcd8-1bc0-4d71-bc54-940b4fc6568e",
      "name": "prep alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5740,
        1220
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('prep alerta').item.json.delay }}",
        "unit": "minutes"
      },
      "id": "65ce4c84-0ad0-4f95-9275-8cdc83e2a876",
      "name": "Wait alerta",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6020,
        1220
      ],
      "webhookId": "b86133f7-abac-45b2-b1bc-762d2701d1b0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_BASE_URL }}/api/handoff-alert",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-alert-secret",
              "value": "={{ $env.HANDOFF_ALERT_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_id: $('prep alerta').item.json.contact_id, requested_at: $('prep alerta').item.json.requested_at }) }}"
      },
      "id": "d11670a4-f49c-4a19-ac65-8aa9ba2307f6",
      "name": "POST alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6300,
        1220
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/event_logs",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_id: $('prep alerta').item.json.contact_id, phone: $('contact_id').item.json.from, source: 'n8n', level: 'error', event: 'handoff_alert_failed', message: 'Fallo el aviso de handoff sin atender: ' + (($json.error) || 'error desconocido'), data: { contact_id: $('prep alerta').item.json.contact_id, requested_at: $('prep alerta').item.json.requested_at } }) }}"
      },
      "id": "a38ad844-4737-4f08-83b6-85526a7f929d",
      "name": "Log failed (alerta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6580,
        1380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "3c9e5a57-64fe-4a64-b4db-fada297949ab",
              "leftValue": "={{ $('parse result').item.json.urgente }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "804661e6-71f9-4088-a448-d4f3362972e7",
      "name": "Urgente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6300,
        1000
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?id=eq.{{ $('contact_id').item.json.contact_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ flow_state: Object.assign({}, $('Menu engine').item.json.new_flow_state, { urgent: true }) }) }}"
      },
      "id": "554bb3e8-1863-450e-9b16-2686da345182",
      "name": "Set urgent flag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6580,
        1000
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/labels?tenant_id=eq.{{ $('contact_id').item.json.tenant_id }}&name=eq.Urgente&select=id&limit=1",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "3989d8b1-4bc0-4b9c-a0b9-96db917feeb0",
      "name": "Get urgent label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6860,
        1000
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function unwrap(json){ if(Array.isArray(json)) return json; if(json && Array.isArray(json.body)) return json.body; if(json && typeof json === 'object') return [json]; return []; }\nconst rows = unwrap($('Get urgent label').first().json);\nconst label_id = rows[0] && rows[0].id ? rows[0].id : null;\nreturn [{ json: { label_id, contact_id: $('contact_id').first().json.contact_id } }];"
      },
      "id": "6fae0e54-291f-4c4b-b719-d1a8d8001ca2",
      "name": "urgent label id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7140,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contact_labels?on_conflict=contact_id,label_id",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=ignore-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contact_id: $('urgent label id').item.json.contact_id, label_id: $('urgent label id').item.json.label_id }) }}"
      },
      "id": "6c6ffab6-f8e2-4606-a35f-b8ed45ee2c5f",
      "name": "Link urgent label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7420,
        1000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/event_logs",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_id: $('contact_id').item.json.contact_id, phone: $('contact_id').item.json.from, source: 'n8n', level: 'info', event: 'menu_decision', message: ($('Menu engine').item.json.reply || '').slice(0, 300), data: { text: $('contact_id').item.json.text, path: $('Menu engine').item.json.path, next_menu: $('Menu engine').item.json.new_flow_state.current_menu, handoff: $('Menu engine').item.json.new_flow_state.handoff, awaiting_query: $('Menu engine').item.json.new_flow_state.awaiting_query, should_send: $('Menu engine').item.json.should_send, handoff_triggered: $('Menu engine').item.json.handoff_triggered, summary_triggered: $('Menu engine').item.json.summary_triggered } }) }}"
      },
      "id": "5fc400ac-4d16-4f17-8b02-eaabfe0e914f",
      "name": "Log flow (menu)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        1180
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/event_logs",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('prep AI').item.json.tenant_id, contact_id: $('prep AI').item.json.contact_id, phone: $('prep AI').item.json.from, source: 'n8n', level: ($('prep AI').item.json.can_reply ? 'info' : 'warn'), event: 'ai_reply', message: ($('prep AI').item.json.text || '').slice(0, 300), data: { text: $('prep AI').item.json.text, within24h: $('prep AI').item.json.within24h, can_reply: $('prep AI').item.json.can_reply, enabled: $('prep AI').item.json.enabled } }) }}"
      },
      "id": "8ccca089-9e14-4739-923a-5d7382c6c85f",
      "name": "Log flow (ai)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        -40
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const base = ($env.CRM_INTERNAL_URL || '').replace(/\\/+$/, '');\nconst secret = $env.APPOINTMENTS_INTERNAL_SECRET || '';\nconst helpers = this.helpers;\nconst c = $('contact_id').first().json;\nconst tenant_id = c.tenant_id;\nconst contact_id = c.contact_id;\nconst phone = c.from;\nconst text = (c.text || '').toString().trim();\nconst low = text.toLowerCase();\nconst nowIso = c.timestamp || new Date().toISOString();\nconst reply_delay_seconds = 1;\nconst EIGHT_HOURS_MS = 8 * 60 * 60 * 1000;\n\nconst st0_raw = (c.flow_state && typeof c.flow_state === 'object') ? c.flow_state : {};\n// Pérdida de memoria a las 8hs: si pasó más de ese tiempo desde la última\n// interacción del sub-flujo de turnos, se ignora en qué paso había quedado y\n// se arranca de cero (vuelve a mostrar el menú inicial). No afecta al modo\n// IA/menú general del bot, que tiene su propio manejo de estado.\nconst lastSeenIso = st0_raw.appt_last_seen_at || null;\nconst sessionExpired = !lastSeenIso || (new Date(nowIso).getTime() - new Date(lastSeenIso).getTime()) > EIGHT_HOURS_MS;\nconst st0 = sessionExpired ? {} : st0_raw;\nconst state = Object.assign({}, st0);\n\nfunction out(handled, reply, newState, opts){\n  opts = opts || {};\n  const stamped = Object.assign({}, (newState || st0), { appt_last_seen_at: nowIso });\n  const patch_body = Object.assign({ flow_state: stamped }, opts.patch || {});\n  const json = Object.assign({ handled: !!handled, should_send: !!(handled && reply), reply: reply || '', reply_delay_seconds, patch_body: patch_body }, opts.extra || {});\n  return [{ json: json }];\n}\nfunction notHandled(){ return out(false, '', st0); }\nfunction st0Clear(){ const s = Object.assign({}, st0); ['appt_step','appt_treatment_id','appt_professional_id','appt_offered','appt_slot_cursor','appt_hold_id','appt_hold_label','appt_mode','appt_resch_id','appt_options','appt_topts','appt_popts','appt_topts_resch'].forEach(function(k){ delete s[k]; }); s.appt_correlation_id = null; return s; }\n\nif (c.handoff === true) return notHandled();\nif (!base || !secret) return notHandled();\n\nasync function api(path, body){\n  return await helpers.httpRequest({ method: 'POST', url: base + '/api/internal/appointments/' + path, headers: { 'x-appointment-secret': secret, 'Content-Type': 'application/json' }, body: body, json: true });\n}\nfunction todayAR(){ return new Intl.DateTimeFormat('en-CA', { timeZone: 'America/Argentina/Buenos_Aires' }).format(new Date()); }\nfunction addDays(ymd, n){ const a = ymd.split('-').map(Number); const dt = new Date(Date.UTC(a[0], a[1]-1, a[2], 12)); dt.setUTCDate(dt.getUTCDate()+n); return dt.getUTCFullYear()+'-'+String(dt.getUTCMonth()+1).padStart(2,'0')+'-'+String(dt.getUTCDate()).padStart(2,'0'); }\nfunction fmt(iso, tz){ try { return new Intl.DateTimeFormat('es-AR', { timeZone: tz || 'America/Argentina/Buenos_Aires', weekday:'short', day:'2-digit', month:'2-digit', hour:'2-digit', minute:'2-digit' }).format(new Date(iso)); } catch(e){ return iso; } }\nfunction numIn(t){ const m = t.match(/\\d+/); return m ? parseInt(m[0],10) : null; }\n// UUID v4 real (las columnas correlation_id son tipo uuid en Postgres; un id\n// no-UUID hace fallar el RPC de book_appointment con \"invalid input syntax\").\nfunction uuidv4(){ return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c){ const r = Math.random()*16|0; const v = c === 'x' ? r : (r&0x3|0x8); return v.toString(16); }); }\n\nconst CID = state.appt_correlation_id || uuidv4();\nconst step = state.appt_step || null;\n\nasync function listUpcoming(){\n  try { return await api('upcoming', { tenant_id, contact_id }); } catch(e){ return null; }\n}\n\nasync function showAvailability(ns, cursor){\n  const from = addDays(todayAR(), 0);\n  const to = addDays(todayAR(), 21);\n  let res;\n  try { res = await api('availability', { tenant_id, treatment_id: ns.appt_treatment_id, professional_id: ns.appt_professional_id || null, from: from, to: to }); }\n  catch(e){ return out(true, 'No pude consultar la disponibilidad ahora. Probá de nuevo en un rato.', ns); }\n  const slots = (res && res.slots) || [];\n  const tz = (res && res.timezone) || 'America/Argentina/Buenos_Aires';\n  const start = cursor || 0;\n  const page = slots.slice(start, start+6);\n  if (page.length === 0){\n    if (start > 0) return out(true, 'No hay más horarios. Respondé con el número de uno anterior o escribí \"cancelar\".', Object.assign({}, ns, { appt_step:'choose_slot' }));\n    return out(true, 'No encontré horarios disponibles en los próximos días. Escribí \"cancelar\" para salir.', st0Clear());\n  }\n  const offered = page.map(function(s){ return { p: s.professionalId, s: s.startAt }; });\n  let msg = 'Estos son los horarios disponibles:\\n';\n  page.forEach(function(s,i){ msg += (i+1) + '. ' + fmt(s.startAt, tz) + '\\n'; });\n  msg += 'Respondé con el número. Escribí MAS para ver más, o \"cancelar\" para salir.';\n  return out(true, msg, Object.assign({}, ns, { appt_step:'choose_slot', appt_offered: offered, appt_slot_cursor: start, appt_correlation_id: CID }));\n}\n\n// ---- Sin sub-flujo activo (o sesión vencida hace >8hs): menú inicial -------\n// No infiere intención del texto: siempre muestra las 5 opciones numeradas.\nif (!step){\n  let settingsRes;\n  try { settingsRes = await api('settings', { tenant_id }); } catch(e){ return notHandled(); }\n  const welcomeMsg = (settingsRes && settingsRes.msg_welcome_menu) || 'Escribí un número del 1 al 5 para elegir una opción.';\n  return out(true, welcomeMsg, { appt_step: 'main_menu' });\n}\n\nif (step === 'main_menu'){\n  const n = numIn(text);\n  if (n === 1){\n    let cat;\n    try { cat = await api('catalog', { tenant_id, kind: 'treatments' }); } catch(e){ return notHandled(); }\n    const treatments = (cat && cat.treatments) || [];\n    if (treatments.length === 0) return out(true, 'No hay tratamientos configurados todavía.', st0Clear());\n    let msg = '¡Perfecto! ¿Qué tratamiento necesitás?\\n';\n    treatments.forEach(function(t,i){ msg += (i+1) + '. ' + t.name + ' (' + t.duration_minutes + ' min)\\n'; });\n    msg += 'Respondé con el número.';\n    return out(true, msg, Object.assign({}, state, { appt_step:'choose_treatment', appt_topts: treatments.map(function(t){ return t.id; }), appt_correlation_id: CID }));\n  }\n  if (n === 2 || n === 3){\n    const cancelMode = n === 3;\n    const up = await listUpcoming();\n    const appts = (up && up.appointments) || [];\n    if (appts.length === 0) return out(true, 'No tenés turnos futuros agendados.', st0Clear());\n    let msg = 'Tus próximos turnos:\\n';\n    appts.forEach(function(a,i){ msg += (i+1) + '. ' + fmt(a.start_at) + '\\n'; });\n    const ids = appts.map(function(a){ return a.id; });\n    const tids = appts.map(function(a){ return a.treatment_id; });\n    msg += cancelMode ? 'Respondé con el número del turno a cancelar.' : 'Respondé con el número del turno a reprogramar.';\n    return out(true, msg, Object.assign({}, state, { appt_step: cancelMode ? 'cancel_pick' : 'resch_pick', appt_options: ids, appt_topts_resch: tids, appt_correlation_id: CID }));\n  }\n  if (n === 4){\n    const up = await listUpcoming();\n    const appts = (up && up.appointments) || [];\n    if (appts.length === 0) return out(true, 'No tenés turnos futuros agendados.', st0Clear());\n    let msg = 'Tus próximos turnos:\\n';\n    appts.forEach(function(a,i){ msg += (i+1) + '. ' + fmt(a.start_at) + '\\n'; });\n    return out(true, msg + '¿Necesitás algo más? Escribime cuando quieras para ver las opciones de nuevo.', st0Clear());\n  }\n  if (n === 5){\n    return out(true, 'Contanos brevemente en qué te podemos ayudar y en breve te atiende un representante.', Object.assign({}, state, { appt_step: 'awaiting_operator_query' }));\n  }\n  return out(true, 'Por favor respondé con un número del 1 al 5.', state);\n}\n\n// ---- Espera la consulta libre antes de derivar a un operador ---------------\nif (step === 'awaiting_operator_query'){\n  return out(true, 'Gracias, en breve te va a atender un representante.', st0Clear(), {\n    patch: { handoff: true },\n    extra: { appt_handoff_triggered: true, appt_consulta: text },\n  });\n}\n\n// ---- Cancelar todo el sub-flujo ----\nif (/^\\s*(cancelar|salir|cancel)\\s*$/i.test(low) && step !== 'cancel_pick'){\n  if (state.appt_hold_id){ try { await api('cancel', { tenant_id, appointment_id: state.appt_hold_id, correlation_id: CID }); } catch(e){} }\n  return out(true, 'Listo, cancelé el proceso. Escribime cuando quieras para volver a empezar.', st0Clear());\n}\n\nif (step === 'choose_treatment'){\n  const n = numIn(text); const ids = state.appt_topts || [];\n  if (!n || n < 1 || n > ids.length) return out(true, 'Respondé con el número del tratamiento, por favor.', state);\n  const tid = ids[n-1];\n  let pj; try { pj = await api('catalog', { tenant_id, kind:'professionals', treatment_id: tid }); } catch(e){ return out(true, 'No pude cargar los profesionales ahora.', state); }\n  const profs = (pj && pj.professionals) || [];\n  if (profs.length === 0) return out(true, 'No hay profesionales disponibles para ese tratamiento.', st0Clear());\n  const ns = Object.assign({}, state, { appt_treatment_id: tid });\n  if (profs.length === 1){ ns.appt_professional_id = profs[0].id; return await showAvailability(ns, 0); }\n  let msg = '¿Con qué profesional?\\n0. Cualquiera disponible\\n';\n  profs.forEach(function(p,i){ msg += (i+1) + '. ' + p.first_name + (p.last_name ? (' ' + p.last_name) : '') + '\\n'; });\n  msg += 'Respondé con el número.';\n  return out(true, msg, Object.assign({}, ns, { appt_step:'choose_professional', appt_popts: profs.map(function(p){ return p.id; }) }));\n}\n\nif (step === 'choose_professional'){\n  const n = numIn(text); const ids = state.appt_popts || [];\n  if (n === null || n < 0 || n > ids.length) return out(true, 'Respondé con el número (0 = cualquiera).', state);\n  const pid = n === 0 ? null : ids[n-1];\n  return await showAvailability(Object.assign({}, state, { appt_professional_id: pid }), 0);\n}\n\nif (step === 'choose_slot'){\n  if (/(^|\\s)mas(\\s|$)/i.test(low) || /más/.test(low)) return await showAvailability(state, (state.appt_slot_cursor || 0) + 6);\n  const n = numIn(text); const offered = state.appt_offered || [];\n  if (!n || n < 1 || n > offered.length) return out(true, 'Respondé con el número del horario, o MAS para ver más.', state);\n  const pick = offered[n-1];\n  if (state.appt_mode === 'reschedule'){\n    try { await api('reschedule', { tenant_id, appointment_id: state.appt_resch_id, new_start_at: pick.s, new_professional_id: pick.p, idempotency_key: CID + ':resch:' + pick.s, correlation_id: CID }); }\n    catch(e){ return out(true, 'Ese horario ya no está disponible. Elegí otro:', state); }\n    return out(true, '¡Listo! Reprogramamos tu turno para ' + fmt(pick.s) + '.', st0Clear());\n  }\n  let hr;\n  try { hr = await api('hold', { tenant_id, professional_id: pick.p, treatment_id: state.appt_treatment_id, start_at: pick.s, contact_id, phone, idempotency_key: CID + ':hold:' + pick.s, correlation_id: CID }); }\n  catch(e){ return out(true, 'Ese horario ya no está disponible. Elegí otro de la lista.', state); }\n  const appt = hr && hr.appointment;\n  if (!appt) return out(true, 'Ese horario ya no está disponible. Elegí otro de la lista.', state);\n  return out(true, 'Reservé provisoriamente ' + fmt(pick.s) + '. ¿Confirmás? (respondé SÍ o NO)', Object.assign({}, state, { appt_step:'confirm', appt_hold_id: appt.id, appt_hold_label: fmt(pick.s) }));\n}\n\nif (step === 'confirm'){\n  if (/^\\s*(si|sí|s|dale|ok|oka|confirmo|confirmar|listo)/i.test(low)){\n    try { await api('confirm', { tenant_id, appointment_id: state.appt_hold_id, correlation_id: CID }); }\n    catch(e){ return out(true, 'La reserva expiró. Escribí \"turno\" para empezar de nuevo.', st0Clear()); }\n    return out(true, '¡Turno confirmado! Te esperamos el ' + (state.appt_hold_label || '') + '. Si necesitás cancelar o reprogramar, escribime.', st0Clear());\n  }\n  if (/^\\s*(no|n)/i.test(low)){\n    if (state.appt_hold_id){ try { await api('cancel', { tenant_id, appointment_id: state.appt_hold_id, correlation_id: CID }); } catch(e){} }\n    return out(true, 'Listo, no agendé nada. Escribí \"turno\" para elegir otro horario.', st0Clear());\n  }\n  return out(true, 'Respondé SÍ para confirmar o NO para cancelar.', state);\n}\n\nif (step === 'cancel_pick'){\n  const n = numIn(text); const ids = state.appt_options || [];\n  if (!n || n < 1 || n > ids.length) return out(true, 'Respondé con el número del turno a cancelar.', state);\n  try { await api('cancel', { tenant_id, appointment_id: ids[n-1], correlation_id: CID }); } catch(e){ return out(true, 'No pude cancelar ahora, probá más tarde.', st0Clear()); }\n  return out(true, 'Tu turno fue cancelado. El horario vuelve a quedar disponible.', st0Clear());\n}\n\nif (step === 'resch_pick'){\n  const n = numIn(text); const ids = state.appt_options || []; const tids = state.appt_topts_resch || [];\n  if (!n || n < 1 || n > ids.length) return out(true, 'Respondé con el número del turno a reprogramar.', state);\n  return await showAvailability(Object.assign({}, state, { appt_mode:'reschedule', appt_resch_id: ids[n-1], appt_treatment_id: tids[n-1] }), 0);\n}\n\nreturn notHandled();"
      },
      "id": "7636b5e2-e098-4bdc-9bf6-a8ff90868e21",
      "name": "Appt engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        1500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "f55c28f3-2ae3-4731-b988-038895caf5f8",
              "leftValue": "={{ $('Appt engine').item.json.handled }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "d46250ac-a9f8-4917-9540-0fdec876e79e",
      "name": "Appt manejó?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3500,
        1500
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?id=eq.{{ $('contact_id').item.json.contact_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Appt engine').item.json.patch_body) }}"
      },
      "id": "c64f9f6d-7148-4484-a62b-fb6fb57da41e",
      "name": "Patch flow_state (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        1500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bdd649cf-5a53-4268-ba25-d0835f9369ba",
              "leftValue": "={{ $('Appt engine').item.json.should_send }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "0426c839-c4b6-4823-9854-2e4aa5f9df82",
      "name": "Enviar? (appt)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4060,
        1500
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Appt engine').item.json.reply_delay_seconds }}",
        "unit": "seconds"
      },
      "id": "8ed9f1ef-d68a-4471-afbf-5b1fa0af98bb",
      "name": "Wait delay (appt)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4340,
        1500
      ],
      "webhookId": "348e65d8-ee9e-4806-961f-c0ea8deb98a3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('contact_id').item.json.phone_number_id }}/messages",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 100
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $('contact_id').item.json.from, type: 'text', text: { body: $('Appt engine').item.json.reply } }) }}"
      },
      "id": "e277cb95-a2db-4a92-b723-3d512e25b794",
      "name": "Send WhatsApp (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        1500
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_id: $('contact_id').item.json.contact_id, whatsapp_message_id: (($json.messages && $json.messages[0] && $json.messages[0].id) || null), direction: 'outbound', content: $('Appt engine').item.json.reply, message_type: 'text', sent_at: new Date().toISOString() }) }}"
      },
      "id": "5db6ee1f-372e-4a00-8f17-c11fdb02fea0",
      "name": "Insert outbound (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        1500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/failed_messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_phone: $('contact_id').item.json.from, content: $('Appt engine').item.json.reply, error: 'fallo el envio a Meta (appt)' }) }}"
      },
      "id": "2128d735-75df-467d-a7d0-1f97eda6aa34",
      "name": "Log failed (send appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5180,
        1660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/event_logs",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ tenant_id: $('contact_id').item.json.tenant_id, contact_id: $('contact_id').item.json.contact_id, phone: $('contact_id').item.json.from, source: 'n8n', level: 'info', event: 'appt_flow', message: ($('Appt engine').item.json.reply || '').slice(0, 300), data: { text: $('contact_id').item.json.text, handled: $('Appt engine').item.json.handled, step: ($('Appt engine').item.json.patch_body.flow_state || {}).appt_step, correlation_id: ($('Appt engine').item.json.patch_body.flow_state || {}).appt_correlation_id } }) }}"
      },
      "id": "24a12301-b969-4dee-b638-c8e82503774a",
      "name": "Log flow (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3780,
        1820
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b3adf4da-25ff-488f-a3f8-c64325a3dd93",
              "leftValue": "={{ $('Appt engine').item.json.appt_handoff_triggered }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "6e34ff5b-bd2f-4cfd-b078-4911dedad59c",
      "name": "Resumir? (appt)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3780,
        2000
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/messages?contact_id=eq.{{ $('contact_id').item.json.contact_id }}&order=sent_at.desc&limit=15&select=direction,content,sent_at",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "3d9c8247-3a9a-47b1-a0f6-3dd470b94329",
      "name": "Get history (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4060,
        2000
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "function unwrap(json){ if(Array.isArray(json)) return json; if(json && Array.isArray(json.body)) return json.body; if(json && typeof json === 'object') return [json]; return []; }\nconst consulta = ($('Appt engine').first().json.appt_consulta || '').toString().trim();\nconst hist = unwrap($('Get history (appt)').first().json).slice().reverse();\nconst comments = hist.filter(m => m.direction === 'inbound' && m.content && !/^\\s*\\d+\\s*$/.test(m.content)).map(m => m.content);\nconst extra = comments.length ? ('\\nMensajes anteriores del contacto: ' + comments.join(' | ')) : '';\nlet convo = 'El contacto pidió hablar con un operador desde el menú de turnos.';\nif (consulta) convo += '\\nConsulta que escribió: ' + consulta;\nconvo += extra;\nreturn [{ json: { convo, consulta } }];"
      },
      "id": "013bf3b5-abd8-4ef8-9487-0bb4a967cc70",
      "name": "prep summary (appt)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4340,
        2000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-haiku-4-5-20251001', max_tokens: 150, system: [{ type: 'text', text: 'Sos asistente de atención al cliente. Un contacto pidió hablar con un representante humano desde el menú de turnos de WhatsApp y escribió una consulta. A partir de esa consulta, devolvé SOLO un JSON válido (sin texto extra ni markdown) con la forma {\\\"urgente\\\": true|false, \\\"resumen\\\": \\\"...\\\"}. El campo resumen: 1 o 2 frases en español de qué necesita el contacto, para que un agente lo retome; sé específico; NO escribas solo que espera ser atendido. El campo urgente: true SOLO si refleja una emergencia real (riesgo a la salud o seguridad, algo que no puede esperar); si no, false.', cache_control: { type: 'ephemeral' } }], messages: [{ role: 'user', content: $('prep summary (appt)').item.json.convo }] }) }}"
      },
      "id": "d305ca7a-fe9e-4eb1-bdfd-43efe71a97fc",
      "name": "Claude summary (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4620,
        2000
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const c = $('Claude summary (appt)').first().json;\nconst raw = ((c.content && c.content[0] && c.content[0].text) || '').trim();\nlet urgente = false;\nlet resumen = '';\ntry {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  const obj = JSON.parse(m ? m[0] : raw);\n  if (typeof obj.urgente === 'boolean') urgente = obj.urgente;\n  if (obj.resumen) resumen = String(obj.resumen).trim();\n} catch (e) {\n  resumen = raw;\n}\nif (!resumen) {\n  const ps = $('prep summary (appt)').first().json;\n  resumen = ps.consulta ? ('Consulta: ' + ps.consulta) : 'Pidió hablar con un operador desde el menú de turnos.';\n}\nreturn [{ json: { resumen, urgente } }];"
      },
      "id": "9b205e29-32f3-45b4-8b0c-474eebba6744",
      "name": "parse result (appt)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4760,
        2000
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?id=eq.{{ $('contact_id').item.json.contact_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ needs: $('parse result (appt)').item.json.resumen, status: 'active' }) }}"
      },
      "id": "a69090a7-3848-440c-be27-442c861e67dc",
      "name": "Update needs (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4900,
        2000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a7d74717-907e-4bf3-9558-2a6cadcdff19",
              "leftValue": "={{ $('parse result (appt)').item.json.urgente }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "dbc57355-84ab-430f-a74a-9530122f4c62",
      "name": "Urgente? (appt)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5180,
        2000
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/contacts?id=eq.{{ $('contact_id').item.json.contact_id }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ flow_state: Object.assign({}, $('Appt engine').item.json.patch_body.flow_state, { urgent: true }) }) }}"
      },
      "id": "22386a0d-4551-430e-b329-c791bb9654e7",
      "name": "Set urgent flag (appt)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5460,
        2000
      ]
    },
    {
      "parameters": {
        "content": "## WhatsApp Agent\\n\\nEnv requeridas (Settings -> Variables o env del contenedor):\\n- SUPABASE_URL, SUPABASE_SERVICE_ROLE_KEY\\n- ANTHROPIC_API_KEY\\n- WHATSAPP_API_TOKEN\\n- N8N_WEBHOOK_SECRET\\n- CRM_BASE_URL (alerta handoff)\\n- CRM_INTERNAL_URL + APPOINTMENTS_INTERNAL_SECRET (sub-flujo de turnos)\\n\\nRequiere N8N_BLOCK_ENV_ACCESS_IN_NODE=false para leer $env.\\n\\nDocs Meta: https://developers.facebook.com/docs/whatsapp/cloud-api/reference/messages",
        "height": 360,
        "width": 360,
        "color": 4
      },
      "id": "1b438b04-54b1-4c28-acbc-7080add96ac1",
      "name": "Notas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        200,
        620
      ]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Secret valido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secret valido?": {
      "main": [
        [
          {
            "node": "ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ctx": {
      "main": [
        [
          {
            "node": "Resolve tenant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve tenant": {
      "main": [
        [
          {
            "node": "prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep": {
      "main": [
        [
          {
            "node": "Tenant existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tenant existe?": {
      "main": [
        [
          {
            "node": "Upsert contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert contact": {
      "main": [
        [
          {
            "node": "contact_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contact_id": {
      "main": [
        [
          {
            "node": "Es media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es media?": {
      "main": [
        [
          {
            "node": "Get media url",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get media url": {
      "main": [
        [
          {
            "node": "Download media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download media": {
      "main": [
        [
          {
            "node": "Upload media",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload media": {
      "main": [
        [
          {
            "node": "Insert inbound (media)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert inbound (media)": {
      "main": [
        [
          {
            "node": "Get bot_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert inbound": {
      "main": [
        [
          {
            "node": "Get bot_config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get bot_config": {
      "main": [
        [
          {
            "node": "bot cfg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bot cfg": {
      "main": [
        [
          {
            "node": "Appt engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appt engine": {
      "main": [
        [
          {
            "node": "Appt manejó?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log flow (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appt manejó?": {
      "main": [
        [
          {
            "node": "Patch flow_state (appt)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resumir? (appt)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Modo menu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch flow_state (appt)": {
      "main": [
        [
          {
            "node": "Enviar? (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar? (appt)": {
      "main": [
        [
          {
            "node": "Wait delay (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait delay (appt)": {
      "main": [
        [
          {
            "node": "Send WhatsApp (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (appt)": {
      "main": [
        [
          {
            "node": "Insert outbound (appt)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log failed (send appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumir? (appt)": {
      "main": [
        [
          {
            "node": "Get history (appt)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alerta configurada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get history (appt)": {
      "main": [
        [
          {
            "node": "prep summary (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep summary (appt)": {
      "main": [
        [
          {
            "node": "Claude summary (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude summary (appt)": {
      "main": [
        [
          {
            "node": "parse result (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse result (appt)": {
      "main": [
        [
          {
            "node": "Update needs (appt)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Urgente? (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update needs (appt)": {
      "main": [
        [
          {
            "node": "Get attention label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgente? (appt)": {
      "main": [
        [
          {
            "node": "Set urgent flag (appt)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set urgent flag (appt)": {
      "main": [
        [
          {
            "node": "Get urgent label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modo menu?": {
      "main": [
        [
          {
            "node": "Menu engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get history",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get history": {
      "main": [
        [
          {
            "node": "prep AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu engine": {
      "main": [
        [
          {
            "node": "Log flow (menu)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Patch flow_state",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resumir?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch flow_state": {
      "main": [
        [
          {
            "node": "Enviar? (menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar? (menu)": {
      "main": [
        [
          {
            "node": "Wait delay (menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait delay (menu)": {
      "main": [
        [
          {
            "node": "Send WhatsApp (menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (menu)": {
      "main": [
        [
          {
            "node": "Insert outbound (menu)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log failed (send menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumir?": {
      "main": [
        [
          {
            "node": "Get history (menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get history (menu)": {
      "main": [
        [
          {
            "node": "prep summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep summary": {
      "main": [
        [
          {
            "node": "Claude summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude summary": {
      "main": [
        [
          {
            "node": "parse result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse result": {
      "main": [
        [
          {
            "node": "Update needs (menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update needs (menu)": {
      "main": [
        [
          {
            "node": "Handoff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff?": {
      "main": [
        [
          {
            "node": "Get attention label",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alerta configurada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerta configurada?": {
      "main": [
        [
          {
            "node": "prep alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep alerta": {
      "main": [
        [
          {
            "node": "Wait alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait alerta": {
      "main": [
        [
          {
            "node": "POST alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST alerta": {
      "main": [
        [],
        [
          {
            "node": "Log failed (alerta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get attention label": {
      "main": [
        [
          {
            "node": "attn label id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "attn label id": {
      "main": [
        [
          {
            "node": "Link attention label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link attention label": {
      "main": [
        [
          {
            "node": "Urgente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Urgente?": {
      "main": [
        [
          {
            "node": "Set urgent flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set urgent flag": {
      "main": [
        [
          {
            "node": "Get urgent label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get urgent label": {
      "main": [
        [
          {
            "node": "urgent label id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "urgent label id": {
      "main": [
        [
          {
            "node": "Link urgent label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prep AI": {
      "main": [
        [
          {
            "node": "Claude extract needs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log flow (ai)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude extract needs": {
      "main": [
        [
          {
            "node": "Update needs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder?": {
      "main": [
        [
          {
            "node": "Wait delay",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log failed (ventana)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait delay": {
      "main": [
        [
          {
            "node": "Claude reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Insert outbound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log failed (send)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templatecredsSetupCompleted": false
  },
  "tags": []
}